@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

body {
    padding-bottom: 60px; /* Agar konten tidak tertutup navbar */
}

/* Pastikan body dan html memenuhi layar */
html,
body {
    height: 100%;
    margin: 0;
}

/* Wrapper utama untuk konten */
.main-content {
    min-height: calc(100vh - 56px); /* Sesuaikan dengan tinggi navbar */
    padding-bottom: 56px; /* Hindari tab tertutup oleh navbar */
}
